<ng-container>
    <button (click)="get500Error()" class="btn btn-outline-primay mr-3">Test 500</button>
    <button class="btn btn-outline-primay mr-3" (click)="get400Error()">Test 400</button>
    <button class="btn btn-outline-primay mr-3" (click)="get401Error()">Test 401</button>
    <button class="btn btn-outline-primay mr-3" (click)="get404Error()">Test 404</button>
    <button class="btn btn-outline-primay mr-3" (click)="get400ValidationError()">
        Test 400 ValidationError</button>

    <div class="row mt=5" *ngIf="validationErros.length >0">
        <ul class="text-danger">
            <li *ngFor=" let error of validationErros">
                {{error}}
            </li>
        </ul>
    </div>




</ng-container>